#header-logo {
  width: 120px;
}
#editable-wrapper {
  width: 500px;
  margin: 0 auto;
}
#demo-radios {
  display: inline-flex;
}
#create-editable {
  display: flex;
  align-content: center;
}
#create-editable > .text-field {
  align-self: center;
}

#content-editable {
  height: 300px;
  margin: 10px auto 30px;
  border-radius: 1vw;
  box-shadow: 0 0 2vw 0.4vw rgba(50, 50, 93, 0.1);
  outline: 0px solid transparent;
  padding: 1vw;
}
.reply-wrapper {
  padding: 2%;
  display: flex;
  width: 80%;
  margin: 10px auto;
  align-items: center;
  flex-flow: column;
}
.reply-suggestion {
  width: min-content;
  padding: 10px;
  white-space: nowrap;
}
.reply-suggestion:not(:first-child) {
  margin-top: 20px;
}
.dropdown-options {
  display: flex;
  justify-content: space-between;
}
header {
  background-image: url("assets/header-grad.svg");
  background-size: cover;
  padding: 1.5vw 5em;
  position: relative;
  display: flex;
  justify-content: space-between;
}
header > h1 {
  margin: 0;
  color: #333333;
}
.App {
  padding: 2vw;
}
form .text-field {
  margin: 0 1em;
}
#past-context-textfield {
  margin-top: 4em;
}