@font-face {
  font-family: "Avenir Next";
  src: url("assets/fonts/AvenirNext-UltraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Avenir Next";
  src: url("assets/fonts/AvenirNext-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Avenir Next";
  src: url("assets/fonts/AvenirNext-UltraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("assets/fonts/AvenirNext-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Avenir Next";
  src: url("assets/fonts/AvenirNext-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("assets/fonts/AvenirNext-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Avenir Next";
  src: url("assets/fonts/AvenirNext-HeavyItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Avenir Next";
  src: url("assets/fonts/AvenirNext-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("assets/fonts/AvenirNext-DemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("assets/fonts/AvenirNext-DemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Avenir Next";
  src: url("assets/fonts/AvenirNext-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("assets/fonts/AvenirNext-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GothamHTF";
  src: url("assets/fonts/GothamHTF-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
